@media(max-width:1175px){
  .icon:focus ~ .input,
  .input:focus {
    width: 200px !important;
    transition: all 400ms cubic-bezier(0, 0.110, 0.35, 1) !important;
  }

  .details__content{
    width: 75% !important;
  }
}

@media(max-width:1065px){
  .logo-responsive{
    display: block !important;
  }

  .sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.5rem;
  }

  .sideNav .logo{
      padding-left: 1.5rem  ;
  }

  .sideNav ul{
      padding-left: 1.5rem;
      flex-direction: column;
      align-items: flex-start;
  }

  .profile-sideNav{
      display: flex !important;
      align-items: center;
      padding-left: 1.5rem;
      gap: 1rem;
  }

  .profile-sideNav img{
      width: 2rem;
  }

  .sideNav ul a {
    padding: 0.5rem 0;
    color: var(--color-grey);
    display: block !important;
    transition: 0.3s;
  }

  .signout-btn-navSide{
      display: block !important;
      padding-left: 1.5rem;
  }

  nav .closeBtn {
    display: block !important;
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2.25rem;
  }
}

@media (max-width:992px) {
  .banner{
    padding-top: 20% !important;  
  }

  .banner__btns{
    margin-bottom: 3rem !important;
  }

  .banner__title{
      width: 14rem !important;
  }

  .chat-trigger {
  position: fixed;
  bottom: 1rem;
  right: 0.4rem !important;
  width: 2.4rem !important;
  height: 2.4rem !important;
}

.hero__wrapper .hero__title{
    font-size: 2.3rem !important;
}

 .media-info{
    font-size: var(--text-sm) !important;
  }

  .media-info__description{
    font-size: var(--text-sm) !important;
  }

  .media__reviews{
    font-size: var(--text-sm) !important;
  }
}

@media (max-width:768px) {
  .banner__btns{
    margin-bottom: 3rem !important;
  }

  .banner__badge{
    width: 5rem !important;
  }
  
  .banner__title{
    width: 10rem !important;
    margin: 1rem 0 !important;
  }

  .banner__description{
    font-size: var(--text-sm) !important;
    width: 80% !important;
  }

  .banner__btns span{ 
    font-size: var(--text-sm) !important;

  }

  .banner__btns img{
    width: 1rem !important;
  }

  .swiper-slide{
    max-width: 8rem !important;
  }

  .details__content{
    width: 80% !important;
  }

  .hero__btn-play img{
    max-width: 1rem !important;
  }

  .hero__btn-add{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
  }

  .btn-submit{
    font-size: var(--text-sm) !important;
  }

  .media__container{
    flex-wrap: wrap;
  }
}

@media (max-width:576px){
  .banner{
    padding-top: 25% !important;
  }

  header .navbar__actions img{
    width: 1.3rem !important;
  }

  .navbar__actions{
    gap: 1rem !important;
  }

  .icon {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .icon:focus ~ .input,
    .input:focus {
    width: 150px !important;
  }

  .hero__wrapper .hero__title{
    font-size: 2rem !important;
  }

  .hero__wrapper {
    padding-left: 2rem !important;
  }
}
