@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}

/* variables */

:root{
    --container-width: 92%;
    --color-primary: #CA1D0A;
    --color-secondary: #fff;
    --color-grey: #E1E1E1;
    --text-lg: 1.25rem;
    --text-md: 1rem;
    --text-sm: 0.75rem;
}

body{
    font-family: "Inter";
    background-color: #141414;
    color: var(--color-secondary);
    position: relative;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}

.btn{
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
}

.btn-primary{
    background: var(--color-secondary);
    color: #000;
}

.btn-light{
    background: #838383cf;
    color: #000;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

header{
    position: fixed;
    width: 100%;
    padding: 1rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 14px;
    font-weight: 400;
}

.navbar__links a{
    color: var(--color-grey);
} 

.active{
    color: #fff !important;
}

img{
    width: 100%;
}

.logo-wrapper{
    width: 6rem;
}

.navbar__actions{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

/* banner */
.banner{
    background: url("/assets/hero.png") no-repeat top center/cover ;
    padding-top: 12%;  
}

.banner__badge{
    width: 6rem;
}

.banner__title{
    width: 18rem;
    margin: 30px 0;
}

.banner__description{
    width: 40%;
    line-height: 1.3;
    font-size: var(--text-md);
}

.banner__btns, .hero__btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 9rem;
}

.banner__btns a, .hero__btns a{
    display: flex !important;
    align-items: center;
    gap: 0.6rem;
}

.banner__btns img{
    width: 1.5rem;
}

.banner__btn-info{
    color: var(--color-secondary) !important;
}

.banner__btns span{
    font-size: var(--text-md);
    font-weight: 600;
}


.watchSuggestions__title, .genre__title{
    font-size: var(--text-lg);
    color: var(--color-grey);
    font-weight: 600;
}

/* Series */
.genres__wrapper{
    padding-top: 10rem;
}

/* swiper */
.swiper {
  margin-top: 1rem;
  /* height: 14rem; */
  margin-bottom: 3rem;
}

.swiper-slide{
    width: 10rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffffe9 !important;   
  font-size: 30px !important;    
}

/* details */
.details{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000d0;
    display: none;
    z-index: 1;
    padding-top: 2rem;
    overflow: auto;
}

.details__content{
    width: 55%;
    background: #181818;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.hero{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.3rem;
    cursor: pointer;
}


.hero__wrapper{
     background: linear-gradient(to top, #181818, transparent);
     padding-left: 3rem;
}

.hero__wrapper .hero__title{
    font-size: 3rem ;
}

.hero__btns{
    margin-bottom: 2rem;
}

.hero__btn-add{
    border: 2px solid #b9b9b9;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #3535359f;
}

.hero__btn-add img{
    padding: 12px;
}

.hero__btn-add:hover{
    border-color: #fff;
}

.media-info{
    padding-top: 1rem;
    font-size: 0.875rem;
}

.media-info .container{
    width: 85%;
    gap:3rem ;
}

.media-info__wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #BCBCBC;
}

.media-info__badge img{
    width: 1.5rem;
}

.media-info__right p{
    color: #ffffff;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.media-info__left {
    width: 70vw;
}

.media-info__right span{
    color: #ffffff;
    margin-left: 0.25rem;
}

.media-info__description{
    line-height: 1.7;
    font-size: var(--text-md);
    margin-top: 1.5rem;
}

.white{
    color: #838383 !important;
    margin: 0 !important;
}

.view-more{
    cursor: pointer;
}
